body {
  background-color: #F7F3E3 !important;
  color: #2B2118 !important;
}

.btn {
  width: 20%;
}

.navbar {
  background-color: #B3B6B7;
}

.navbar-brand:hover {
  color: #6F1A07 !important;
}

.nav-link {
  margin: 0 3% 0 0;
  text-align: right;
}

.nav-link:hover {
  color: #6F1A07 !important;
}

#dropdownMenuButton1 {
  background-color: inherit;
  border: none;
}

#dropdownMenuButton1:hover {
  color: #6F1A07;
}

#nav-img {
  width: 7%;
  padding: 0 2% 0 0;
}

#nav-img:hover {
  opacity: 70%;
}

#user-img {
  width: 25%;
}

#user-img:hover {
  opacity: 70%;
}
