h2 {
  padding: 40px 0px 40px 0px;
  text-align: center;
}

body {
  background-image: linear-gradient(to right, #FEE440, #00BBF9, #F15BB5);
  padding: 6px 0px 6px 0px !important;
}

.btn {
  width: 20%;
  filter: invert(100%);
}

.btn:hover {
  color:#FEE440 !important;
}

.form-inline {
  display:inline-flex;
  overflow: hidden;
  width: 400px;
}

.highlight {
  background-color: #FEE440;
  padding: 3px 6px;
}

.navbar-brand {
  color: #fff;
}
.navbar-brand:hover {
  color: #FEE440 !important;
}

.nav-link {
  margin: 0 3% 0 0;
  text-align: right;
  color:#fff;
}

.nav-link:hover {
  color: #FEE440 !important;
}

.recipe-pics {
  width: 25%;
  border-radius: 100%;
  padding: 0px 0px 20px 0px;
}

#cooking-img {
    animation: swing ease-in-out 1s
    infinite alternate;
    transform-origin: center -20px;
}

#container {
  margin: 0px !important;
}

#cooking-img {
  margin: 50px 0px 50px 0px;
}
#cooking-img img {
    display: block;
}
#cooking-img:after{
    content: '';
    position: absolute;
    width: 20px; height: 20px;
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

#img-cook {
  margin: 0 auto;
  opacity: 60%;
  filter: invert(100%);
}

#dropdownMenuButton1 {
  background-color: inherit;
  border: none;
}

#dropdownMenuButton1:hover {
  color: #FEE440;
}

#floating-child {
  margin: 0px 0px 0px 5px;
}

#nav-img {
  width: 7%;
  padding: 0 2% 0 0;
  filter: invert(100%);
}

#nav-img:hover {
  opacity: 70%;
  color: #FEE440;
}

#h1-title {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

#h1-title:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-25px); }
  100% { transform: translateY(0); }
}

#search {
  overflow-x: auto;
}

#searching {
  display:inline !important;
  text-align: center;
}

#title {
  background-image: linear-gradient(to right, #FEE440, #00BBF9, #F15BB5);
  padding: 3px 0px 3px 0px;
  margin: 0px !important;
  filter: hue-rotate(90deg);
}

#user-img {
  width: 25%;
}

#user-img:hover {
  opacity: 70%;
}
